body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

.colorboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.box:hover {
    transform: scale(1.1);
}

